@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  @apply font-display overflow-x-hidden;
}

*:focus-visible {
  outline-color: #6fcfc9;
  outline-style: auto;
  outline-offset: 3px;
  outline-width: 2px;
}

*:hover {
  @apply transition duration-150 ease-in-out;
}

.base-wrapper {
  @apply container mx-auto px-4;

  max-width: 960px;
}

@screen lg {
  .base-wrapper {
    @apply px-0;
  }
}
